@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav>a {
    font-size: large;
}

footer {
    color: rgba(255, 255, 255, 0.50) !important;
    background-color: #212124 !important;
}

.text-blueviolet,
a,
h2 {
    color: blueviolet !important;
}

a {
    transition: all .5s ease;
}

a:hover {
    color: gainsboro !important;
}

#toTop:hover {
    background-color: gainsboro !important;
}

#toTop {
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    transition: all .5s ease;
    background-color: blueviolet;
    color: white;
    font-size: 14px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0.75em 1em;
}

.card {
    border-radius: 15px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.card-text {
    color: rgba(0, 0, 0, 0.5) !important;
}

.card-title {
    color: #212529 !important;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.visible {
    visibility: visible !important;
    opacity: 1 !important;
}

@media (max-width: 575px) {
    #toTop {
        bottom: 20px;
        right: 20px;
    }

    .card {
        margin: 1.5em !important;
    }
}

#about p,
#contact p {
    font-size: larger;
}

@media (min-width: 992px) {
    nav div a {
        padding: 0 15px !important;
    }

    #about,
    #projects,
    #contact {
        padding: 2em 8em 2em 8em;
    }

    #projects h3 {
        padding: 0 0 20px 0;
    }

    #projects #druhyRocnik h3,
    #projects #tretiRocnik h3 {
        padding: 40px 0 20px 0;
    }
}

@media (max-width: 991px) {
    .card {
        margin: 1.5em 0 1.5em 0;
    }
}

@media (max-width: 575px) {
    .sm-none {
        display: none;
    }
}

h3 {
    font-size: x-large;
}
